.App {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container {
    width: 70%;
    max-width: 1200px;
}

@media screen and (max-width: 920px) {
    .container {
        width: 80%;
    }
}