.profile {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile__image {
    width: 200px;
    border-radius: 100px;
}

.profile__name {
    margin: 0;
    margin-top: 40px;
    font-weight: 700;
    font-size: 20px;
    color: #252525;
}

.profile__text {
    margin: 0;
    margin-top: 15px;
    font-size: 15px;
    color: #383838;
}

.profile__badge {
    display: flex;
    flex-direction: row;
}

.profile__badge__item {
    border-radius: 5px;
    margin: 0;
    margin-top: 20px;
    margin-right: 20px;
    padding: 10px 15px;
    font-size: 13px;
    background-color: #F0F0F0;
}

.profile__badge__item a {
    color: #505050;
}

.profile__badge__item_github:hover {
    background-color: #252525;
}

.profile__bage__item_instagram:hover {
    background-color: #aa26c7;
}

.profile__bage__item_velog:hover {
    background-color: #12B886;
}

.profile__badge__item:hover a {
    transition: 0.25s ease-in;
    color: #F0F0F0;
    text-decoration: underline;
    text-underline-position: under;
}

.profile__badge__item:last-child {
    margin-right: 0;
}

@media screen and (max-width: 750px) {
    .profile {
        margin-top: 80px;
    }
    
    .profile__image {
        width: 150px;
        border-radius: 75px;
    }
    
    .profile__name {
        margin-top: 25px;
        font-size: 15px;
    }
    
    .profile__text {
        font-size: 13px;
    }
    
    .profile__badge__item {
        border-radius: 2.5px;
        margin-top: 20px;
        margin-right: 15px;
        padding: 7px 10px;
        font-size: 10px;
    }
}