.wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    width: 60%;
    max-width: 1020px;
    padding: 80px 0;
}

.title {
    color: #252525;
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 50px;
}

.Heading1 {
    color: #252525;
    font-weight: 700;
    font-size: 30px;
    margin: 30px 0;
}

.Heading2 {
    color: #252525;
    font-weight: 700;
    font-size: 25px;
    margin: 25px 0;
}

.Heading3 {
    color: #252525;
    font-weight: 700;
    font-size: 20px;
    margin: 20px 0;
}

.Heading3 {
    color: #252525;
    font-weight: 700;
    font-size: 18px;
    margin: 18px 0;
}

.text {
    color: #383838;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
}

.divider {
    margin: 50px 0;
    border: 0.5px solid #F0F0F0;
}

.list_ul {
    list-style-position: inside;
    padding: 0;
}

.list_li {
    color: #383838;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    margin: 5px 0;
}

.list_li::marker {
    color: #505050;
}

.quote {
    box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.1);
    background-color: #F9F9F9;
    margin: 20px 0;
    padding: 10px 25px;
    border-left: 5px solid #5283CC;
    border-radius: 2.5px;
}

.quote p {
    margin: 0;
}

.code {
    font-family: Hack, monospace;
    color: #505050;
    padding: 3px 10px;
    border-radius: 2.5px;
    border: 0.5px solid #50505050;
    background-color: #F9F9F9;
    margin: 0 5px;
}

.codeblock {
    box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.1);
    margin: 20px 0;
    padding: 20px 15px;
    background-color: #F9F9F9;
    border-radius: 2.5px;
    overflow: auto;
}

.codeblock code {
    font-family: Hack, monospace;
    color: #505050;
    line-height: 25px;
    tab-size: 4;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
}

.link {
    color: #3375D9;
}

.link:hover {
    transition: ease-in 0.3s;
    text-decoration: underline;
    text-underline-position: under;
}

.image {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.image img {
    border-radius: 5px;
    max-width: 80%;
    max-height: 500px;
}

@media screen and (max-width: 750px) {
    .content {
        width: 80%;
        max-width: 600px;
        padding: 80px 0;
    }
}